{% load static %}

<!DOCTYPE html>

<html>

{% block head %}


  <head class='MyHead'>


      <title>{% block title %} Home {% endblock %}</title>

      <meta name="google-site-verification" content="googleb992c7deb8c212f7.html" />   
      <meta http-equiv="Content-Type" content="text/html5;charset=UTF-8">

  </head>  

{% endblock head %}


{% block cookie %}


{% endblock cookie %}


{% block header %}

<header>



  {% block nav %}

    <nav>

    </nav>

  {% endblock nav %}

</header>
{% endblock header %}




{% block content %}
<body>
    <main>

                    
    </main>
</body>
{% endblock content %}


{% block footer %}

  <footer>

  </footer>
  
{% endblock footer %}

{% block javascript %}


<script src="{% static 'js/cookiechoices.js' %}"></script>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function(event) {
    cookieChoices.showCookieConsentBar('This site is using third-party cookies  ',
        'Confirm Your Consent', 'Managepy.it Read The Privacy Policy', "{% url 'readpolicy' %}");
    });

    console.log('www.managepy.it is Checking Cookies Consent')

</script>


{% endblock javascript %}

